$color-green: #75a82c
$color-dark-green: #72a32b
$color-blue: #2a6475
$color-accent: $color-green

$font-baskerville: "Libre Baskerville", serif
$font-montserrat: "Montserrat", sans-serif
$heading-font-family: $font-montserrat
$body-font-family: $heading-font-family

$h1-weight: normal
$h1-line-height: 110%
$h1-font-family: $font-baskerville
$h2-font-family: $font-baskerville
$quote-font-family: $font-baskerville
$quote-line-height: 140%
$quote-size-desktop-short: pxToRem(36)
$quote-size-desktop-long: pxToRem(36)

$header-background: $color-green
$header-color: black
$header-border-bottom-width: 0
$header-dropdown-full: true
$header-dropdown-background: $color-green
$header-dropdown-color: black
$header-sticky-background: $color-green
$header-sticky-color: black
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$hero-height: auto
$hero-background-color: none
$footer-background-color: $color-blue
$footer-color: white
$footer-logo-height: 120px
$footer-logo-height-desktop: 180px