$color-green: #75a82c
$color-dark-green: #72a32b
$color-accent: $color-green

$font-baskerville: "Libre Baskerville", serif
$font-montserrat: "Montserrat", sans-serif
$heading-font-family: $font-montserrat
$body-font-family: $heading-font-family

$h1-weight: normal
$h1-font-family: $font-baskerville
$h2-font-family: $font-baskerville

$header-background: none
$header-border-bottom-width: 0
$header-dropdown-full: true
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$hero-background-color: none
$footer-background-color: $color-accent
$footer-logo-height: 80px
$footer-logo-height-desktop: 120px