.menu
    .has-children:not(.upper-menu-i18n, .primary-i18n)
        .dropdown-menu:not(.is-titled)
            .nav-level-2
                @include media-breakpoint-up(desktop)
                grid-template-columns: repeat(3, 1fr)                
h1
    color: $color-dark-green
.organization
    .media--logo
        img
            mix-blend-mode: multiply
.organizations__page
    .document-content
        [itemprop="articleBody"] + .organization-logo
            img
                mix-blend-mode: multiply
.blocks
    .block-chapter
        &--accent_background
            background-color: white
            .text
                width: 100% !important
                .rich-text
                    @include lead
                    color: black
    .block-features
        .name
            em
                @include h4
                margin-bottom: $spacing-2
                font-style: normal
                display: block
                text-transform: uppercase
                color: $color-dark-green
    .block-pages
        &--list
            @include in-page-without-sidebar
                margin-top: $spacing-6
                .block-content 
                    .top 
                        grid-column: 1 / 7
                        + .pages
                            grid-column: 7 / 13
.page__home
    .block-image
        margin-bottom: 0
#document-footer
    .container:first-of-type
        justify-content: center
    .container:nth-of-type(2)
        flex-direction: column-reverse
        .footer-social
            margin: 0 auto
            li
                margin: 0 $spacing-3
        .footer-legals
            margin: 0 auto